.intervalo {
    color: white;
    background-color: #bbbbbb;
}

.tab {
    color: white;
    background-color: #008000;
}

.reifeicao {
    color: white;
    background-color: black;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}
#myInput {
    border-box: box-sizing;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
}

.dropdown {
    position:relative;
    display: block;
    top: -24px;
    left:0;
    
}
.DivOP {
    position:absolute;
    display: block;
    top: 470px;
    left:10px;
}
    
    
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 50px;
    top:40px;
}

.dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown p:hover {background-color: #ddd}

.show {display:block;}
