---
layout: default
---


{% for curso in site.data.horarios.cursos %}
	<h1> {{curso.nome}} </h1>

	{% for turma in curso.turmas %}
		<h2> {{turma.nome}} </h2>

		<table>

		<tr>
		{% for coluna in turma.colunas %}
			<th>{{coluna}}</th>
		{% endfor %}
		</tr>

		{% for linha in turma.linhas %}
			<tr>
				<td> {{linha.horario}} </td>
				{% for aula in linha.aulas %}
				{% if aula.displina == "INTERVALO" %}
				<td colspan="4"> {{aula.disciplina}} </td>
				{% elsif aula.disciplina != "INTERVALO" %}
				<td> {{aula.disciplina}} <br/> {{aula.professor}} </td>
				{% endif %}
				{% endfor %}
			</tr>
		{% endfor %}
		</table>

	{% endfor %}
{% endfor %}
