---
layout: default
---
<head>
	 <meta charset="UTF-8">
	 <script src="js/dropdown.js"></script>
</head>
<script>
	function akuma(professor) {
		document.getElementsByClassName('professory').style.visibility = "hidden";
    	document.getElementById(professor).style.visibility = "visible";
	}
</script>
<div class="dropdown">
<button onclick="myFunction()" class="dropbtn">Dropdown</button>
  <div id="myDropdown" class="dropdown-content">
	{% for professorb in site.data.auxiliar.professores %}
		<p onclick="akuma('{{professorb}}')">{{professorb}} </p>
	{% endfor %}
  </div>
</div>
{% for professorx in site.data.auxiliar.professores %}
	<div class="professory" id="{{professorx}}" style="visibility: hidden">
	<h1> {{professorx}} </h1>
	{% for curso in site.data.horarios.cursos %}
		<h2> {{curso.nome}} </h2>
		{% for turma in curso.turmas %}
			<h3> {{turma.nome}} </h3>

			<table style="width=145%">

			<tr class = "tab">
			{% for coluna in turma.colunas %}
				<th>{{coluna}}</th>
			{% endfor %}
			</tr>

			{% for linha in turma.linhas %}
				{% if linha.aulas[0].disciplina == "INTERVALO" %}
					<tr class="intervalo">
					<td><b>{{ linha.horario }}</b></td>	
					<td colspan="5"><b>{{ linha.aulas[0].disciplina }}</b></td></tr>
				{% else %}
					{% if linha.aulas[0].disciplina == "ALMOÇO" or linha.aulas[0].disciplina == "JANTAR" %}
						<tr class="reifeicao">
						<td><b>{{ linha.horario }}</b></td>	
						<td colspan="5"><b>{{ linha.aulas[0].disciplina }}</b></td>
						</tr>
					{% else %}
						<tr>
						<td><b>{{ linha.horario }}</b></td>
						{% for aula in linha.aulas %}
							{% if aula.professor == professorx or professorx == "Todos" %}
								<td>{{aula.disciplina}} <br/> <b>{{aula.professor}}</b> </td>
							{% else %}
								<td> <br/> </td>
							{% endif %}
						{% endfor %}
						</tr>
					{% endif %}
				{% endif %}
			{% endfor %}
			</table>
		{% endfor %}
	{% endfor %}
	</div>
{% endfor %}
