<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Horários IFPB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
     <link rel="stylesheet" href="css/decor.css">
    <link rel="stylesheet" href="css/cayman.css">
    <link rel="icon" type="image/png" href="logo_if.png">
    <script src="js/dropdown.js"></script>
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">IFPB - Campus Guarabira</h1>
      <h2>Horários</h2>
      <br>
      <a href="#" class="btn">Informática</a>
      <a href="#" class="btn">Edificações</a>
      <a href="#" class="btn">Contabilidade</a>
      <a href="#" class="btn">Gestão Comercial</a>
    </section>
<script>
	function akuma(professor) {
		var prof
		prof = document.getElementsByClassName;
		for (var i = 0; i < prof.lenght; i++ ){
			prof[i].style.visivility = "hidden";
		}
    	document.getElementById(professor).style.visibility = "visible";
	}
</script>
<div class="dropdown">
<button onclick="myFunction()" class="dropbtn">Dropdown</button>
  <div id="myDropdown" class="dropdown-content">
    <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
	{% for professorb in site.data.auxiliar.professores %}
		<p onclick="akuma('{{professorb}}')">{{professorb}} </p>
	{% endfor %}
  </div>
</div>
    
    <section class="main-content">
      
      {{content}}

    </section>

  </body>
</html>
   
